{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">Hakkımda</h5>
    <div class="card-body">
        <p class="card-text"> Ben Emre Yılmaz...</p>
        <a href="#"
           class="btn btn-danger">daha fazla bilgi</a>
    </div>

    <div class="card my-4">
        <h5 class="card-header">Django 3</h5>
    <div class="card-body">
        <p class="card-text"> Django 3 öğreniyorum.</p>
        <a href="#"
           class="btn btn-danger">daha fazla bilgi</a>
    </div>

</div>
</div>


{% endblock sidebar %}

